@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@font-face {
    font-family: "Website-Font";
    src: url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .7em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .2);
}

.main-nav {
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    background-color: rgba(50, 50, 50);
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav li {
    padding: 0 1%;
}

.main-header {
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("images/Background-Header-1.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 150px;
}

.title {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    height: 100px;
    padding: 100px;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    font-family: 'Calibri';
}

.title-large {
    font-size: 7em;
    text-align: center;
}

.demo-sec {
    margin: 0;
    background-color: rgb(243, 169, 9);
    padding: 5px;
}

.container {
    /* max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em; */
    text-align: center;
}

#about {
    font-family: "Calibri";
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
}

.main-footer {
    background-image: url("images/insurance-footer-background.png");
    color: white;
    padding: .25em 0;
}

#contact {
    color: rgba(255, 255, 255, 0.95);
    margin: 0 1em;
    margin-top: 0.5em;
    height: 100px;
    padding: 10;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    font-family: Montserrat;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: right;
    margin-right: 150px;
}

.footer-nav li {
    padding: 0 1em;
}

.footer-nav img {
    width: 50px;
    height: 50px;
}

#demo {
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

#product {
    font-family: Montserrat;
    color: rgb(97, 171, 255);
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.product-sec {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.text {
    line-height: 2;
    margin-left: 150px;
    margin-right: 150px;
}

.about-sec {
    margin: 0;
    background-color: rgb(0, 174, 255);
    padding: 5px;
}

.about-whole {
    color: rgb(255, 255, 255);
}

.creator {
    /* line-height: 2; */
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(255, 255, 255);
}

.process {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 150px;
}

.explain {
    color: rgb(231, 226, 226);
    text-align: left;
    line-height: 2;
    margin-left: 150px;
    margin-right: 150px;
}

.button {
border-radius: 10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(252, 238, 238); 
    color: black; 
    border: 2px solid #f44336;
    padding: 15px 30px;
  }
  
  .button:hover {
    border-radius: 10px;
    background-color: #f44336;
    color: white;
  }